*
{
	margin: 0;
	padding: 0;
	font-family: century-gothic;
}
header
{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img.jpeg);
		height: 100vh;
		background-size: cover;
		background-position: center;
}
ul
{
		float:right;
		list-style-type: none;
		margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
		text-decoration: none;
		color: #fff;
		padding: 5px 20px;
		border: 1px solid transparent;
		transition: 0.6s ease;
		
}
ul li a:hover
{
		background-color: #fff;
		color: #000;
		
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
		float: left;
		width: 250px;
		height: auto;
		margin-left: 25px;
}
.main{
		max-width: 1200px;
		margin: auto;
}
.title{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
}
.title h2{
	color: #fff;
	font-size: 40px;
}
.btn{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btnA{
	border: 1px solid #fff;
	padding: 20px 20px;
	margin: 10px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}	
.btnA:hover{
	background-color: #fff;
	color:#000;
}
.form-box{
	width: 380px;
	height: 480px;
	background: rgba(255,255,255,.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #255;
}
.form-box1{
	width: 400px;
	height: 750px;
	background: rgba(255,255,255,.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #255;
}
.form-box-2{
	width: 300px;
	height: 480px;
	background: rgba(255,255,255,.6);
	position: absolute;
	top: 50%;
	left: 38%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #255;
}
.form-box-3{
	width: 250px;
	height: 250px;
	background: rgba(255,255,255,.6);
	position: absolute;
	top: 64%;
	left: 68%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #255;
}
.ALtitle h4{
	color: #fff;
	font-size: 20px;
	font-family: century gothic;
	position: absolute;
	left: 110px;
	top: 20px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 10px;
}
.ABtitle h4{
	color: #fff;
	font-size: 20px;
	font-family: century gothic;
	position: absolute;
	left: 110x;
	right: 145px;
	top: 20px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 10px;
}
.ALtitle-1 h4{
	color: #fff;
	font-size: 20px;
	font-family: century gothic;
	position: absolute;
	left: 35px;
	top: -47px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 10px;
}
.ALtitle-2 h4{
	color: #fff;
	font-size: 20px;
	font-family: century gothic;
	position: absolute;
	left: 50px;
	top: 20px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 10px;
}
.input-grp{
	top: 120px;
	position: absolute;
	width: 380px;
	transition: .5s;
	left: 45px;
}
.input-grp-1{
	top: 50px;
	position: absolute;
	width: 380px;
	transition: .5s;
	left: 45px;
}
.input-grp-2{
	top: 80px;
	position: absolute;
	width: 380px;
	transition: .5s;
	left: 40px;
}
.input-grp p{
		color: #fff;
	
}
.input-grp-1 p{
		color: #fff;
	
}
.input-grp-2 p{
		color: #fff;
	
}
.input-field{
	width: 200px;
	padding: 10px;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	
}
.sub-btn{
	color: #fff;
	font-size: 30px;
	font-family: century gothic;
	position: absolute;
	left: 85px;
	top: 180px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 30px;
}
.sub-btn:hover{
	background-color: #fff;
	color:#000;	
	border-radius: 30px;
}
.butto-box{
	width: 220px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 20px 5px #fff;
	
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}.butto-box1{
	width: 220px;
	margin: 57px auto;
	position: relative;
	box-shadow: 0 0 20px 5px #fff;
	
	
}
.toggle-btn1{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.sub-btn1{
	color: #fff;
	font-size: 16px;
	font-family: century gothic;
	margin-left: 100px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 30px;
}
.sub-btn1:hover{
	background-color: #fff;
	color:#000;	
	border-radius: 30px;
}
.sub-btn-2{
	color: #fff;
	font-size: 16px;
	font-family: century gothic;
	margin-left: 82px;
	margin-top: 20px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 30px;
}
.sub-btn-3:hover{
	background-color: #fff;
	color:#000;	
	border-radius: 30px;
}.sub-btn-3{
	color: #fff;
	font-size: 16px;
	font-family: century gothic;
	margin-left: 53px;
	margin-top: 34px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 30px;
}
.sub-btn-2:hover{
	background-color: #fff;
	color: #000;	
	border-radius: 30px;
}
.sub-menu-1{
	display: none;
}
.main ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: 25px;
	
}
.main ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: -10px;
}
.tbladj
{
	margin-top: 35px;
	margin-right:328px;
	color: #fff;
	font-size: 16px;
	font-family: century gothic;
}
.dlist
{
	color: #fff;
	font-size: 16px;
	font-family: century gothic;	
}
.btnsearch
{	color: #fff;
	font-size: 30px;
	font-family: century gothic;
	
	left: 85px;
	top: 180px;
	background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
	border-radius: 30px;	
}